@model BusTicketSystem.Models.Bus

@{
    ViewData["Title"] = "Crear Bus";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<h2>Crear Bus</h2>

<form asp-action="Crear" method="post">

    <div class="mb-3">
        <label class="form-label">Placa</label>
        <input asp-for="Placa" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Modelo</label>
        <input asp-for="Modelo" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Capacidad</label>
        <input asp-for="Capacidad" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Pisos</label>
        <input asp-for="Pisos" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Estado</label>
        <select asp-for="Estado" class="form-control">
            <option value="true">Activo</option>
            <option value="false">Inactivo</option>
        </select>
    </div>

    <button class="btn btn-primary">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>

</form>